@model ThongTinXeViewModel

@{
}
<div class="container">
    <div class="card">
        <div class="card-body">
            <p class="mt-0 mb-2 fw-semibold text-dark font-18 text-center">@ViewBag.RenderedHtmlTitle</p>
            <form asp-action="AddOrEdit" asp-controller="ThongTinXe" asp-route-id="@Model.MaXe">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="MaXe" value="@Model.MaXe" />
      
                <div>
                    <div class="form-group mb-2">
                        <label asp-for="TenXe" class="control-label"></label>
                        <div class="input-group mb-2">
                            <input asp-for="TenXe" class="form-control" placeholder="Nhập Tên xe" value="@Model.TenXe" />
                        </div>
                        <span asp-validation-for="TenXe" class="text-danger"></span>

                    </div><!--end form-group-->
                    <div class="form-group mb-2">
                        <label asp-for="DongXe" class="control-label"></label>
                        <div class="input-group mb-2">
                            <input asp-for="DongXe" class="form-control" placeholder="Nhập Dòng xe" value="@Model.DongXe" />
                        </div>
                        <span asp-validation-for="DongXe" class="text-danger"></span>
                    </div><!--end form-group-->

                    <div class="form-group mb-2">
                        <label asp-for="BangSo" class="control-label"></label>
                        <div class="input-group mb-2">
                            <input asp-for="BangSo" class="form-control" placeholder="Nhập Bảng số" value="@Model.BangSo" />
                        </div>
                        <span asp-validation-for="BangSo" class="text-danger"></span>
                    </div><!--end form-group-->

                    <div class="form-group mb-2">
                        <label asp-for="DungTichXyLanh" class="control-label"></label>
                        <div class="input-group mb-2">
                            <input asp-for="DungTichXyLanh" class="form-control" placeholder="Nhập Dung tích xy lanh" value="@Model.DungTichXyLanh" />
                        </div>
                        <span asp-validation-for="DungTichXyLanh" class="text-danger"></span>
                    </div><!--end form-group-->


                    <div class="form-group mb-2">
                        <label asp-for="HangXe" class="control-label"></label>
                        <div class="input-group mb-2">
                            <input asp-for="HangXe" class="form-control" placeholder="Nhập Hãng xe" value="@Model.HangXe" />
                        </div>
                        <span asp-validation-for="HangXe" class="text-danger"></span>
                    </div><!--end form-group-->


                    <div class="form-group">
                        <br />
                        <div class="col-md-12 offset-md-5">
                            <div class="d-flex">
                                <div style="margin-right:10px;">
                                    <input type="submit" value="Submit" class="btn btn-primary btn-block" style="width:80px" />
                                </div>
                                <div>
                                    <a asp-controller="Thông tin xe" asp-action="Index" class="btn btn-success text-white"><i class="fe-log-out"></i> Close</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div> <!-- end card-->
</div>

@section scripts{
}